In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('NCHS_-_Leading_Causes_of_Death__United_States.csv')
states = pd.read_csv('states.txt')

In [3]:
df_header = df.columns
df.head()

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,21,2.6
1,2016,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.7
2,2013,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.8
3,2000,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,23,3.8
4,2014,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,325,4.1

# Data Cleaning

To follow conventional programming practice, I will all convert columns to snake case (eg. snake_case) format for ease of readability and consistency. 

Notice, that some of our columns are capitalized, includes hypens, or contains number. We will do the following:
 * Lowercase all letters
 * for any spaces, we will include underscore (_)

In [4]:
def clean_col(col):
    col = col.lower()
    col = col.replace(' ','_')
    col = col.replace('-','_')
    
    return col

new_column = []

for column in df_header:
    column = clean_col(column)
    new_column.append(column)
    
print('Snake case columns:',new_column)

Snake case columns: ['year', '113_cause_name', 'cause_name', 'state', 'deaths', 'age_adjusted_death_rate']

In [5]:
df.columns = new_column
df_header = df.columns

df.head(3)

,year,113_cause_name,cause_name,state,deaths,age_adjusted_death_rate
0,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,21,2.6
1,2016,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.7
2,2013,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.8

**Observe Data**

Since we will be comparing states, it's important we analyze the state column

In [6]:
print('Unique state values in our data: ', len(df['state'].unique()))
print('Total states in USA: ',len(states))

Unique state values in our data:  52
Total states in USA:  51

We realize that our datasets contains an additional state (total 52). We could leave it as it is. However, we want to avoid discrepancies later down our analysis thus it's better to **identify and rearrange** our datasets.

Identify that one state that is not a state

In [7]:
state_outlier = []
enumerate_state = []

for index,value in enumerate(states['State']):
    enumerate_state.append(value)
    
for state in df['state'].unique():
    if state not in enumerate_state:
        state_outlier.append(state)
        
print('Not a state: ',state_outlier)

Not a state:  ['United States']

So United States is not a state. We will modify the datasets that hides 'United States' - showing only the states.

In [8]:
df = df[df['state']!= 'United States']
df.head()

,year,113_cause_name,cause_name,state,deaths,age_adjusted_death_rate
0,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,21,2.6
1,2016,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.7
2,2013,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.8
3,2000,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,23,3.8
4,2014,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,325,4.1

Almost done. We need to add a new column called 'abbv_state' that abbreviates the state with respect to each row.

First, I will create a dictionary that maps each state with the abbreviated state. for example New york will have NY. {'New York':'NY'}

In [9]:
each_state = {}
i = -1

def state_dict_function(i):
    for index,row in enumerate(states,start=i):
        each_state = {states['State'].iloc[index]: states['Abbreviation'].iloc[index]}
    return each_state

state_dicts = {}

for i in np.arange(-1,50,1):
    row = state_dict_function(i)
    state_dicts.update(row)
    
print('Dict type: ',type(state_dicts))
print('Check length: ', len(state_dicts))

Dict type:  <class 'dict'>
Check length:  51

Okay. We will use the dictionary keys and values to map each state in our datasets. In doing this, we should have a new column and we will merge the new columns in our main datasets

In [10]:
abbv_state=[]

for row in df['state']:
    map_dict = state_dicts[row]
    abbv_state.append(map_dict)
    
df['abbv_state'] = abbv_state
df.head()

,year,113_cause_name,cause_name,state,deaths,age_adjusted_death_rate,abbv_state
0,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,21,2.6,VT
1,2016,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.7,VT
2,2013,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.8,VT
3,2000,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,23,3.8,DC
4,2014,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,325,4.1,AZ

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10098 entries, 0 to 10295
Data columns (total 7 columns):
year                       10098 non-null int64
113_cause_name             10098 non-null object
cause_name                 10098 non-null object
state                      10098 non-null object
deaths                     10098 non-null int64
age_adjusted_death_rate    10098 non-null float64
abbv_state                 10098 non-null object
dtypes: float64(1), int64(2), object(4)
memory usage: 631.1+ KB

Our dataset is ready to be analyzed!