In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('NCHS_-_Leading_Causes_of_Death__United_States.csv')
states = pd.read_csv('states.txt')

In [12]:
df.head()

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,21,2.6
1,2016,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.7
2,2013,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.8
3,2000,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,23,3.8
4,2014,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,325,4.1

Since we will be comparing states, it's important we analyze the state column

In [14]:
state_val = []

for state in df['State']:
    
    if state not in state_val:
        state_val.append(state)
        
print('State values: ', len(state_val))
print('Total states in USA: ',len(states))

State values:  51
Total states in USA:  51

We realize that our datasets contains an additional state (total 52). We could leave it as it is. However, we want to avoid discrepancies later down our analysis thus it's better to **identify and rearrange** our datasets.

Identify that one state that is not a state

In [5]:
state_outlier = []
enumerate_state = []

for index,value in enumerate(states['State']):
    enumerate_state.append(value)
    
for state in state_val:
    if state not in enumerate_state:
        state_outlier.append(state)
        
print('Not a state: ',state_outlier)

Not a state:  ['United States']

So United States is not a state. We will modify the datasets that hides 'United States' as part of the state - showing only the states.

In [9]:
df = df[df['State']!= 'United States']
df.head()

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,21,2.6
1,2016,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.7
2,2013,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.8
3,2000,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,23,3.8
4,2014,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,325,4.1

Almost done. We need to add a new column called 'abbv_state' that abbreviates the state with respect to each row.

In [81]:
states_dict = []

for index,row in enumerate(states,start=0):
    states_dict = {'State': states['State'].iloc[index], 'Abbv':states['Abbreviation'].iloc[index]}
    
states_dict

{'State': 'Alaska', 'Abbv': 'AK'}

** The problem works but errors**
1. It only works for Alaska
2. It skipped Alabama
3. Need to do for all state
4. Suggestion, make a function